.env
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/lib/legion/.env
/lib/legion/test.rb
/lib/legion/Gemfile
/lib/legion/Gemfile.lock